<div
    class="px-3 py-3 bg-slate-100 text-center text-slate-500 text-[10px] border-t border-slate-200 rounded-b-md"
>
    <p>
        Please see PO above. Please email purchases@rustsol.com when order is
        ready to ship, please indicate PO number on subject line.
    </p>
    <x-spacer height="10px" />
    <p>&copy; {{ new Date().getFullYear() }} WhamCo Distribution Ltd.</p>
    <img
        src="https://onfqmtlqkxbvqsrdvinm.supabase.co/storage/v1/object/public/assets//logo2.png"
        alt="Partner Logo"
        class="h-16 rounded-md"
    />
</div>
